body {
	margin: 0;
	font-family: "Nunito", "Arial", "Helvetica", sans-serif;
	display: flex;
	justify-content: center;
}
.wrapper {
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2 auto);
	align-content: center;
	justify-content: center;
	gap: 20px;
	}
.card {
	width: 100px;
	height: 100px;
	box-shadow: 0 0 5px 0 #222;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	position: relative;
} 
.card .like{
	position: absolute;
	top: 4px;
	right: 4px;
	font-size: 20px;
	transform: rotate(-90deg);
}
.card h6{
	margin: 0;
	font-size: 12px;
}