.card{
    border: 1px solid var(--main-color);
    border-radius: 8px;
    padding: 8px;
    display: grid;
    gap: 10px;
}
.card__img{
    height: 100px;
    background: no-repeat center/contain;
}
.card__price{
    font-weight: 800;
}
.card__text{
    font-size: 12px;
}
.btn{display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    border: none;
    border-radius: 30px;
    height: 30px;
    padding: 8px 20px;
    font-weight: 700;
    background-color: var(--main-color);
    align-self: flex-start;
}