header{
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px calc((50% - 500px));
}
@media(min-width: 1060px){
    header{
        padding-left: 30px;
        padding-right: 30px;
    }
}
nav{
    display: flex;
    gap: 30px;
    align-items: center;
}

input{
    width: 400px;
    height: 30px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 8px 16px;
}
header .logo{
    height: 40px;
    display: flex;
}

.logo img{
    height: 100%;
}