.wrapper_footer{
    height: 130px;
    width: 100vw;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
}
.menu, .more_menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.icon_contact i{
    color:#000;
    font-size: 20px;
    padding-left: 10px;
}