body {
	margin: 0;
	font-family: "Nunito", "Arial", "Helvetica", sans-serif;
}
.wrapper {
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, auto);
	align-content: center;
	justify-content: center;
	gap: 20px;
	}
	.card {
	width: 100px;
	height: 100px;
	box-shadow: 0 0 5px 0 #222;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	} 