:root{
    --main-color: #ffe44d;
}
body {
	margin: 0;
	font-family: "Nunito", "Arial", "Helvetica", sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
.wrapper {
	min-height: 100vh;
    
}
.product__row{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}
.product__btn{
 cursor: pointer;
}
.product_inp{
    border: 1px solid silver;
}