.card{
    width: 250px;
    height: 400px;
    border: none;
    display: flex;
    padding: 10px 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.card_img{
    width: 230px;
    height: 180px;
    background: no-repeat center / cover ;
    padding : 5px 0px;
}
.data_create{
    font-size: 15px;
    font-weight: 700;
}